:root {
  --blue: hsl(246, 80%, 60%);
  --soft-orange: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --soft-red: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-yellow: hsl(43, 84%, 65%);

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --dark-desaturated-blue: hsl(235, 46%, 40%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: white;
}

body {
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 4.5rem 1.25rem;
  max-width: 375px;
}

.profile {
  background-color: var(--dark-blue);
  border-radius: 1rem;
}

.profile__card {
  background-color: var(--blue);
  border-radius: 0.95rem;
  padding: 1.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile__card__title {
  font-weight: 400;
  font-size: 16px;
  color: var(--pale-blue);
}

.profile__card__title__name {
  font-weight: 300;
  font-size: 24px;
  color: white;
}

.profile__card__pic {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border: white solid 0.25rem;
}

.profile__periods {
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__periods__nav {
  flex: 1 1 33%;
  text-align: center;
}

.profile__periods__nav span {
  color: var(--desaturated-blue);
  transition: all 0.2s ease-in-out;
}

.profile__periods__nav span:hover {
  cursor: pointer;
  color: white;
}

.work {
  background-color: var(--soft-orange);
  background-image: url(../images/icon-work.svg);
}
.play {
  background-color: var(--soft-blue);
  background-image: url(../images/icon-play.svg);
}
.study {
  background-color: var(--soft-red);
  background-image: url(../images/icon-study.svg);
}
.exercise {
  background-color: var(--lime-green);
  background-image: url(../images/icon-exercise.svg);
}
.social {
  background-color: var(--violet);
  background-image: url(../images/icon-social.svg);
}
.self_care {
  background-color: var(--soft-yellow);
  background-image: url(../images/icon-self-care.svg);
}

.work,
.play,
.study,
.exercise,
.social,
.self_care {
  background-position: top right 1rem;
  background-repeat: no-repeat;
}

.list {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.list__item {
  border-radius: 1rem;
  padding-top: 2.1rem;
}

.list__item__card {
  border-radius: 0.9rem;
  padding: 1.4rem;
  background-color: var(--dark-blue);
  transition: all 0.2s ease-in-out;
}

.list__item__card__info,
.list__item__card__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item__card__info__name {
  font-size: 1rem;
}

.list__item__card__info__icon {
  transition: all 0.2s ease-in-out;
}

.list__item__card__info__icon:hover {
  filter: brightness(0) invert(1);
}

.list__item__card__data__time {
  font-size: 1.75rem;
  font-weight: 300;
}

.list__item__card__data__last {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--pale-blue);
}

.list__item__card:hover {
  cursor: pointer;
  background-color: var(--dark-desaturated-blue);
}

@media screen and (min-width: 1024px) {

  main {
    max-width: 1024px;
  }

  section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    gap: 1.25rem;
  }

  .profile__card {
    flex-direction: column;
    align-items: flex-start;
    gap: unset;
  }

  .profile__card__pic {
    border: white solid 0.15rem;
  }

  .profile__card__title {
    font-size: 12px;
    padding: 1.6rem 0;
  }

  .profile__card__title__name {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .profile__periods {
    padding: 1.5rem 1.75rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .profile__periods__nav span{
    font-size: 0.9rem;
  }

  .list {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .list__item__card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .list__item__card__info__name {
    font-size: 0.8rem;
  }

  .list__item__card__data{
    flex-direction: column;
    align-items: flex-start;
  }

  .list__item__card__data__time{
    font-size: 2.5rem;
  }

  .list__item__card__data__last{
    font-size: 0.7rem;
  }
}
